body{
    background-image: url(../images/login/Wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
.s1{
    font-size: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(23, 87, 139);
    position: relative;
    top: 250px;
}
.s2{
    position: relative;
    left: 10px;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(74, 112, 143);
}
.s3{
    color: #9381fd;
    font-weight: bold;
}
.username{
    opacity: 1;
    border: solid 1px;
    border-bottom: 2px solid rgb(3, 8, 68);
    width: 300px;
    background-color: #FFF;
    border-radius: 50px;
    margin-bottom: 5px;
}
.f1{
    position: relative;
    top: 50px;
    margin-left: 130px;   

}
.s4{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 30px;
    left: 60px;
    color: #9381fd;
}
.button{
    border: none;
    border-radius: 30px;
    width: 300px;
    height: 30px;
    background-color: #089292;
    position: relative;
    bottom:30px;
    color:#FFF;
}
.b1{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    border-top-right-radius:40px ;
    border-bottom-right-radius:50px ;
}
.b2{
    width: 300px;
    height: 300px;
    position: relative;
    left: 150px;
    bottom: 550px;
    opacity: 1;
}
.logo{
    width: 600px;
    height: 600px;
    border-top-right-radius:20px ;
    border-bottom-right-radius:20px ;
    display: inline;
}

.login_form
{
    position: relative;
    bottom: 150px;
    margin-left: 140px;
    
}
.left{
    background-color: #FFF;
    width: 600px;
    height: 600px;
    border-top-left-radius:20px ;
    border-bottom-left-radius:20px ;
    
}
.total{
    background-color: #FFF;
    display: inline-flex;
    width: 1200px;
    height: 600px;
    border-radius: 50px;
    position: absolute;
    top: 10%;
    left: 10%;
    
}
.or{
    display: inline-flex;
    position: relative;
    right: 60px;

}
hr{
    width: 200px;
    height: 0.1px;
    margin-left: 5px;
    margin-right:5px ;
}
.h3{
    position: relative;
    bottom: 17px;
}
.welcome{
    position: absolute;
    top: 220px;
    left: 80PX;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(74, 112, 143); ;
}
.social{
    position: absolute;
    left: 70px;
    bottom: 50px;
}
.si{
    border: solid 1px;
   border-radius:50px ;
   width: 40px;
   height: 40px;
   margin-right: 5px;
   position: relative;
   left: 50px;
}
a:link {
    text-decoration: none;
    color: darkblue;
  }